<div class="container">

  <div class="btn-group">
    <button
      *ngFor="let product of products"
      type="button"
      class="btn btn-primary btn-sm"
      [class.active]="currentProduct == product"
      (click)="selectProduct(product)"
    >{{product.name}}</button>
  </div>

  <div *ngIf="!currentProduct">
    <h3 class="text-muted">Select product</h3>
  </div>

  <div *ngIf="currentProduct">
    <h3>
      {{currentProduct.fullName}}
    </h3>
    <p>
      Max hight: <span class="badge badge-light">{{currentProduct.height}}</span>
      &nbsp;&nbsp;
      Wall thickness: <span class="badge badge-light">{{currentProduct.width}}</span>
      &nbsp;&nbsp;
      Total weight: <span class="badge badge-light">{{currentProduct.weight}}</span>
    </p>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="input-group mb-6">
              <input (keyup)="setArea($event.target.value)" [value]="area" type="number" class="form-control form-control-lg" placeholder="Area">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">m<sup>2</sup></span>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Materials</th>
                  <th class="text-center">IU</th>
                  <th class="text-center">Usage</th>
                  <th class="text-center">Total usage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of currentProduct.items">
                  <td>
                    <div class="form-group" *ngIf="item.materials?.length > 1">
                      <select class="form-control form-control-smddd" (change)="item.currentMaterialUsage = $event.target.value">
                        <option *ngFor="let material of item.materials" [value]="material.usage">{{material.name | censored}}</option>
                      </select>
                    </div>
                    <span *ngIf="item.materials?.length <= 1">{{item.materials[0].name | censored}}</span>
                  </td>
                  <td class="text-center">{{item.unit}}</td>
                  <td class="text-center">{{item.currentMaterialUsage}}</td>
                  <td class="text-center">{{ (item.currentMaterialUsage * area).toFixed(2) * 1 || '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-5">
            <img [src]="'assets/' + currentProduct.serial + '.png'" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
